html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Tajawal-Bold';
    src: url('./fonts/Tajawal/Tajawal-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Tajawal-Regular';
    src: url('./fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 5px; 
}
/*for background*/
::-webkit-scrollbar-track {
    background: #2d3748;
    border-radius: 10px;
}
/*stick color*/
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ffa05b, #e68652); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #ffa05b, #e68652);
}
::-webkit-scrollbar:horizontal {
    display: none;
}

body{
    font-family: 'Tajawal-Regular', sans-serif;
}
